a {
    color: #50054a;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #50054a;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none
  }

  .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid #ffc861;
    background: transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: all 0.3s ease-out;
    color: #363636;
  }
  .pricing:hover .outline-btn{
    box-shadow: 3px 3px 2px yellow;
   
    color: #f7f7f7;
  }
  .pricing {
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
  }

  .pricing::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s;
    transition: 0.5s all ease-in-out;
    color: white !important;
  }

  .pricing:hover:after {
    height: 100%;
  }

  .pricing .price-head {
    position: relative;
    margin-bottom: 20px;
  }

  .pricing .price-title {
    display: block;
    padding: 40px 0px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }

  .pricing:hover .price-title {
    color: #ffc861;
  }
  .pricing:hover .price-content{
color: white;
  }

  .pricing .price {
    position: relative;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #50054a;
  }
  .pricing:hover .price {
    position: relative;
    width: 150px;
    height: 150px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #ffc861;
    animation: pulse 2s infinite alternate !important;
  }

  .pricing .price h3 {
    font-size: 42px;
    margin: 0px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
  }

  .pricing:hover .price h3 {
    color: #fff;
  }

  .pricing .duration {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #10161A;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }

  .pricing:hover .duration {
    color: #fff;
  }

  .pricing .price-btn {
    padding-top: 20px;
    padding-bottom: 40px;
  }



  
  .active{
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
    background-color:#1C1D21;
    box-shadow: 8px 8px 5px grey;
    }

      .active .outline-btn{
        box-shadow: 3px 3px 2px yellow;
        display: inline-block;
        padding: 5px 25px;
        margin: 3px;
        color: #f7f7f7;
        transition: all 0.3s ease-out;
        border-radius: 3px;
      }
.active img{
    position: absolute;
    width: 150px;
    top: -60px;
    left: -38px;
    
    
}
.active:hover img{
    animation: rotateIn 2s alternate !important;
}
      .active .price-head {
        position: relative;
        margin-bottom: 20px;
      }
    
    
      .active .price-title {
        color: #ffc861;
        
    display: block;
    padding: 40px 0px 20px;
    text-transform: uppercase;
    
    
      }
      .active .price-content{
    color: white;
      }

      .active .price {
        position: relative;
        width: 150px;
        height: 120px;
        line-height: 140px;
        text-align: center;
        margin: auto;
        border-radius: 50%;
        border: 2px solid #ffc861;
      }
    
      .active .price h3 {
        font-size: 42px;
        margin: 0px;
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
      }
    
      .active .price h3 {
        color: #fff;
      }
    
      .active .duration {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        
        -webkit-transition: 0.2s color;
        transition: 0.2s color;
        color: #fff;
      }
    
      .active .price-btn {
        padding-top: 20px;
        padding-bottom: 40px;
      }


      .flipInX {
        animation: flipInX 1s infinite alternate !important;
    }